* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-weight: 600;
}

body {
    min-height: 100vh;
    color: black;
    background-color: #F8FAFC;
    display: grid;
	grid-template-rows: auto 1fr auto;
}

header {
    font-family: Inter;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 190px;
    height: 72px;
    background: linear-gradient(90deg, #7DD3FC 0%, #818CF8 100%);
    margin-bottom: 25px;
}

.home {
    text-decoration: none;
}

h1 {
    font-size: 22.7px;
    font-weight: 400;
}

h2 {
    margin-left: 100px;
}

.subHeading {
    margin: 10px 0 30px 100px;
    color: #64748B;
    font-weight: 400;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000000;
    text-decoration: none;
}


nav a {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 13.6px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 30px;
}

.monCompte {
    display: flex;
}

.monCompte input {
    border-radius: 8px;
    border-color: #CBD5E1;
}

.monCompte .btnMettreAJourMDP input {
    color: white;
    height: 40px;
    width: 446px;
    background: linear-gradient(90deg, #C084FC 0%, #F472B6 100%);
}

.inputMdp {
    display: block;
}

.filsInputMdp {
    display: inline-block;
    /*float: left;*/
}

.gridCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 100px;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    gap: 8px;
}

.author {
    color:#64748B;
    font-weight: 400;
    font-size: 0.9rem;
}

.time {
    color:#64748B;
    font-weight: 400;
    font-size: 0.8rem;
}

.cardBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardLink {
    color:#0284C7;
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
}

.connectMessage {
    color:#64748B;
    font-weight: 400;
    font-size: 0.7rem;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 40%;
    padding: 33px;
    gap: 24px;
    border: #E2E8F0 1px solid;
    border-radius: 16px;
    box-shadow: 0 4px 6px -4px rgba(0,0,0,0.1),
                0 10px 15px -3px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

section h2 {
    margin: 0;
}

.form-part {
    display: flex;
    flex-direction: column;
}

.form-part label {
    font-weight: 400;
    color: #334155;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.form-part input {
    font-weight: 400;
    color: #334155;
    background-color: #E8F0FE;
    padding: 9px 17px;
    border-radius: 8px;
    border: #CBD5E1 1px solid;
}

.btn-creation, .btn-connection {
    padding: 8px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

.btn-connection {
    background: #38BDF8;
    background: linear-gradient(90deg,rgba(56, 189, 248, 1) 0%, rgba(129, 140, 248, 1) 100%);
}

.btn-creation {
    background: #38BDF8;
    background: linear-gradient(90deg,rgba(129, 140, 248, 1) 0%, rgba(192, 132, 252, 1) 100%);
}

.txt-inscription, .txt-connection {
    color:#64748B;
    font-weight: 400;
    font-size: 0.9rem;
}

.link-creation {
    color:#0284C7;
    text-decoration: none;
    font-weight: 400;
}

.link-connection {
    color:#4F46E5;
    text-decoration: none;
    font-weight: 400;
}

footer {
    width: 100%;
    height: 60px;
    padding-top: 21px;
    padding-bottom: 20px;
    border-top: 1px solid #E2E8F0;
    font-size: 13.7px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    background: white;
    z-index: 999;
    color: #64748B;
    margin-top: 25px;
}

footer p {
    font-weight: 400;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

.success-message{
    color : green;
}
