* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    color: black;
    background-color: #F8FAFC;
}

header {
    font-family: Inter;
    font-size: 22.7px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 190px;
    height: 72px;
    background: linear-gradient(90deg, #7DD3FC 0%, #818CF8 100%);
    ;
    margin-bottom: 25px;
}

h2 {
    margin-left: 100px;
}

.subHeading {
    margin-left: 100px;
    color: #64748B;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000000;
    text-decoration: none;
}


nav a {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 13.6px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 30px;
}

.monCompte {
    display: flex;
}

.monCompte input {
    border-radius: 8px;
    border-color: #CBD5E1;
}

.monCompte .btnMettreAJourMDP input {
    color: white;
    height: 40px;
    width: 446px;
    background: linear-gradient(90deg, #C084FC 0%, #F472B6 100%);
}

.inputMdp {
    display: block;
}

.filsInputMdp {
    display: inline-block;
    /*float: left;*/
}

.gridCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 100px;
    gap: 24px;
}

.card {
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    padding: 25px;
    border-radius: 15px;
    background-color: white;
}

footer {
    width: 100%;
    height: 60px;
    padding-top: 21px;
    padding-bottom: 20px;
    border-top: 1px solid #E2E8F0;
    font-size: 13.7px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    z-index: 999;
}
