* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
}
header {
    font-family: Inter;
    font-size: 22.7px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 190px;
    height: 72px;
    background: linear-gradient(90deg, #7DD3FC 0%, #818CF8 100%);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav a {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 13.6px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;  
    color: #000000;
    text-decoration: none;  
}
nav {
    display: flex;
    gap: 30px;
}
.monCompte{
    display: flex;
}

.monCompte input{
        border-radius: 8px;
        border-color: #CBD5E1;
}
.monCompte .btnMettreAJourMDP input{
    color: white;
    height: 40px;
    width: 446px;
    background: linear-gradient(90deg, #C084FC 0%, #F472B6 100%);
}

.inputMdp{
    display: block;
}
.filsInputMdp{
    display: inline-block;
    float: left;
}